/**
 * Contains general layout styling
 */

// Grid config.
$zen-column-count: 12;
$zen-gutter-width: 20px;

.layout-sidebar-left,
.layout-sidebar-right,
.layout-sidebar-both {
  padding-top: 20px;
}


// Left sidebar only.
.layout-sidebar-left {
  
  @include zen-grid-container;
  
  @include breakpoint($narrow) {
    
    .layout-sidebar-left__sidebar {
      @include zen-grid-item(3, 1);
    }
    
    .layout-sidebar-left__main {
      @include zen-grid-item(9, 4);
    }
  }
}

// Right sidebar only.
.layout-sidebar-right {
  
  @include zen-grid-container;
  
  @include breakpoint($narrow) {
    
    .layout-sidebar-right__main {
      @include zen-grid-item(9, 1);
    }
    
    // Right sidebar.
    .layout-sidebar-right__sidebar_two {
      @include zen-grid-item(3, 10);
    }
  }
}


// Both left and right sidebars.
.layout-sidebar-both {
  
  @include zen-grid-container;
  
  @include breakpoint($narrow) {
    
    // Left sidebar.
    .layout-sidebar-both__sidebar {
      @include zen-grid-item(3, 1);
    }
    
    .layout-sidebar-both__main {
      @include zen-grid-item(6, 4);
    }

    // right sidebar.
    .layout-sidebar-both__sidebar_two {
      @include zen-grid-item(3, 10);
    }
  }
}
