/**
 * Provides styling for blogs
 */

//blog taxonomy categories display
.page-blog, .node-type-blog-article{
	.sidebar-right {
		h2 {
			margin-bottom:11px;
			padding-top:8px;
	       	font-size:22px;
	       	border-top: 2px solid $dto-grey;
	       	&.block__title {
		       	//margin-bottom:22px;
		       	margin-bottom:11px;
	       	}
		}
		.block__content {
			a {
				color:$dto-blue;
				text-decoration:none; 
			}
		}
		//blog catergories
	/*	.view-blog-categories {
			.view-content {
				.views-row {
					display: inline-block;
					margin-bottom:12px;
					a {
						color: $ultra-grey;
						font-size: 13px;
						padding: 5px 10px;
						border-radius:5px;
						border:1px solid $dto-grey;
						text-decoration: none;
						font-size:15px;
						&:hover {
							text-decoration:none;
          				}
        			}
      			}
			}
		}*/
		.blog-updates {
			display:block;
			overflow:hidden;
			h2 {
				margin-top:0;
				margin-bottom:22px;
			}
			a {
				float:left;
				margin-right:15px;
				text-decoration:none;
				font-size:16px;
				img {
					margin-right:4px;
				}
			}
		}
	}
}

//social media sharing
.service-links {
	display:block;
	a {
		//height:35px;
		//width:35px;
		display:inline-block;
		background-repeat:no-repeat;
		text-decoration:none; 
		img {
			display:none;
		}
		&.service-links-facebook:before, &.service-links-twitter:before, &.service-links-linkedin:before, &.service-links-email:before {
			font-family:FontAwesome;
			color:$dark-grey;
			font-size:22px;	
			padding-right:18px;
		}
		&.service-links-facebook:before {
			content:'\f09a';
		}
		&.service-links-twitter:before {
			content:'\f099';
		}
		&.service-links-linkedin:before {
			content:'\f0e1';
		}
		&.service-links-email:before {
			content:'\f003';
		}
	}
}
.field-name-service-links-block {
	h2 {
		font-size:18px;
	}
}

.field-name-related-blogs-block {
	h2 {
		font-size:18px;
	}
}

.lt-ie9 {
.service-links {
	a {
		height:35px;
		width:35px;
		display:inline-block;
		background-repeat:no-repeat; 
		img {
			display:none;
		}
		&.service-links-facebook:before, &.service-links-twitter:before, &.service-links-linkedin:before, &.service-links-email:before {
			content:none;
			padding:0;
		}
		&.service-links-facebook {
			background-image:url('../images/update/social-icons-grey/facebook_square.png');
		}
		&.service-links-twitter {
			background-image:url('../images/update/social-icons-grey/twitter_square.png');
		}
		&.service-links-linkedin {
			background-image:url('../images/update/social-icons-grey/linkedin_square.png');
		}
		&.service-links-email {
			background-image:url('../images/update/social-icons-grey/email_square.png');
		}
	}
}

}


/*
 * Blog categories/tags styling ss old
 */
/*.view-blog {
  
  > .view-header {
       .block__title {
	       margin-bottom:11px;
	       padding-top:8px;
	       font-size:22px;
	       border-top: 2px solid $dto-grey;
       } 
    .view-content {
      
      .views-row {
        display: inline-block;
		margin-bottom:5px;
        a {
          color: $ultra-grey;
          font-size: 13px;
          padding: 5px 10px;
          border-radius:5px;
          border:1px solid $dto-grey;
          text-decoration: none;
          font-size:15px;
          &:hover {
	          text-decoration:none;
          }
        }
      }
    }
  }
  
  > .view-content {
    
    .views-row {
      margin-bottom: 40px;
    }
  }
}*/



.dto-view-blog-aticle-length-comment-count-fields-wrapper {
  margin-bottom: 0.5em;
  margin-top:10px;
}

.views-field-field-article-length {
  display: inline-block;
  color: $dark-grey;
  font-size:1.1em;
}

.views-field-comment-count {
  display: inline-block;
  color: $dark-grey;
  font-size:1.1em;
}

.view-blog {
	.view-content {
		line-height:1.7rem!important;
	}
}

//SS - Blog refinements

//BLOG CONTENT PAGE

//Related blogs block on blog content page (LEFT HAND COLUMN eg desktop)
.sidebar {
	.block {
		.block__title {
			font-size:19px;
		}
		.views-field-title {
			margin-bottom:5px;
			a {
				font-size:1em;
				font-weight:normal;
			}
		}
	}
}

//Related blogs block on blog content page (BELOW CONTENT eg mobile)
.field-name-related-blogs-block {
	.block-title {
		//font-size:1.2rem;
		margin-bottom:0;
		margin-top:20px;
	}
	.views-field-title {
		margin-bottom:5px;
		a {
			font-size:1em;
			font-weight:normal;
		}
	}
}

//blogs by term subheading
.dto-view-blog-by-term-term-name {
	font-size:2em;
	margin-bottom:25px;
	margin-top:3px;
}
.node-type-blog-article {
	.block-service-links {
		h2 {
			display:none;
		}
	}
}

//blog landing page
.view-blog {
	.view-content {
		padding-right:20px;
		.views-row {
			margin-bottom:45px;
			.dto-view-blog-author-wrapper {
				overflow: hidden;
				margin-bottom: 13px;
				display:table; 
				.views-field-picture {
					display: inline-block;
					width: 48px;
					img {
						border-radius:24px;
					}
				}
				.dto-view-blog-author-name-create-field-wrapper {
					display: inline-block;
					margin-left: 6px;
					display:table-cell;
					vertical-align:top; 
					padding-left:10px;
					padding-top:6px;
					.views-field-name {
						font-size:14px;
						line-height:1.1;
					}
					.views-field-created {
						font-size:14px;
					}
				}
			}
			.dto-view-blog-blog-article {
				.views-field-title {
					a {
						color:$dto-blue;
						font-size:22px;
						text-decoration:none;
						font-family:"OpenSansBold",Arial,Helvetica Neue,Helvetica,sans-serif !important;
					}
				}
				.dto-view-blog-aticle-length-comment-count-fields-wrapper {
					font-size:14px;
					display:inline-block;
				}
			}
		}
	}
}

//blog content page
.node-type-blog-article {
	.main-content {
		h1 {
			//border-top:1px solid $dto-grey;
			font-size:28px;
			margin-top:0;
			margin-bottom:5px;
			//padding-top:10px;
			//margin-bottom:15px;
		}
		.node-blog-article {
			.field-name-author {
				float:left;
				margin-right:10px;
				//font-size:15px;
				.field-item {
					font-family:"OpenSans",Arial,Helvetica Neue,Helvetica,sans-serif !important;
					color:$dark-grey;
				}
				
			}
			.field-name-post-date {
				//font-size:15px;
				&:before {
					content:"-";
					float:left;
					padding-right:10px;
				}
				.field-item {
					font-family:"OpenSans",Arial,Helvetica Neue,Helvetica,sans-serif !important;
					color:$dark-grey;
				}
			}
			.field-name-service-links-top {
				margin-top:8px;
				//border-top:1px solid #ccc;
				//padding-top:8px;
				margin-bottom:35px;
			}
			.field-name-body {
				margin-top:15px;
				padding-top:0;
			}
		}
	}
}

//blog subscribe block
.page-blog, .node-type-blog-article {
	.blog-updates {
		.email, .rss {
			&:before {
				font-family:FontAwesome;
				//color:$dark-grey;
				color:$dto-blue;
				font-size:24px;	
				padding-right:5px;
			}
		}
		.email {
			&:before {
				content:'\f003';
			}
		}
		.rss {
			&:before {
				content:'\f09e';
			}
		}
	}
}

iframe {
	max-width:100%;
}

//makes blog menu item active on blog pages
.node-type-blog-article {
	.region-header {
		.block-menu-block {
			.menu {
				.menu-mlid-2391 {
					a {
						color:$dto-blue!important;
					}
				}
			}
		}
	}
}