/**
 * Provides styling for blogs
 */

.user-picture {
  
}


/*
 * Blog list layout.
 */
.view-blog {
  overflow: hidden;
  
  > .view-header {
    margin-bottom: 40px;
    
    @include breakpoint($narrow) {
      float: right;
      width: 30%;
    }
  }
  
  > .view-content {
    
    @include breakpoint($narrow) {
      float: left;
      width: 70%;
    }
  }
  
  > .more-link {
    clear: both;
    text-align: center;
  }
}


/*
 * Blog list styling.
 */
.view-blog {
  
  > .view-header {
        
    .view-content {
      
      .views-row {
        display: inline-block;

        a {
          color: $black;
          font-size: 15px;
          padding: 5px 10px;
          background-color: #f1f1f0;
          @include border-radius(5px);
          text-decoration: none;
        }

        a:hover,
        a:active {
          text-decoration: underline;
        }
      }
    }
  }
  
  > .view-content {
    
    .views-row {
      margin-bottom: 40px;
    }
  }
}


.dto-view-blog-author-wrapper {
  overflow: hidden;
  margin-bottom: 1.3em;
}

.views-field-picture {
  display: inline-block;
  width: 70px;
  
  img {
    @include border-radius(35px);
  }
}

.views-field-name {
  font-size: 1.15em;
 // font-weight: bold;
  
  .field-content {
    display: table-cell;
  }
}

.views-field-created {
  
  .field-content {
    display: table-cell;
  }
}

.dto-view-blog-author-name-create-field-wrapper {
  display: inline-block;
  margin-left: 6px;
}

.views-field-title {
  margin-bottom: 0;
  
  a {
    font-size: 1.4em;
    color: $title-link-blue;
    text-decoration: none;
    font-weight:bold;
  }
  
  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.dto-view-blog-aticle-length-comment-count-fields-wrapper {
  margin-bottom: 0.5em;
}

.views-field-field-article-length {
  display: inline-block;
  color: $dark-grey;
  font-size:1.1em;
}

.views-field-comment-count {
  display: inline-block;
  color: $dark-grey;
  font-size:1.1em;
}

.block__title {
  border-top: 2px solid black;
  font-size: 18px;
  font-size: 1.2rem;
} 

.more-link {
  border-top: 1px solid $light-grey;
  padding: 10px 0 30px;
  
  a {
    font-size: 1em;
    color: $title-link-blue;
    text-decoration: none;
  }
  
  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.view-blog {
	.view-content {
		line-height:1.7rem!important;
	}
}

//SS - Blog refinements

//BLOG CONTENT PAGE

//Related blogs block on blog content page (LEFT HAND COLUMN eg desktop)
.sidebar {
	.block {
		.block__title {
			font-size:1.2rem;
			margin-bottom:0;
		}
		.views-field-title {
			margin-bottom:5px;
			a {
				font-size:1em;
				font-weight:normal;
			}
		}
	}
}

//Responsive layout - single column for iPad
@media (max-width: 768px) {
	.node-type-blog-article {
		.sidebar {
			display:none;
		}
		.layout-sidebar-right .layout-sidebar-right__main {
			width:100%;
		}
	}
}

//Related blogs block on blog content page (BELOW CONTENT eg mobile)
.field-name-related-blogs-block {
	.block-title {
		font-size:1.2rem;
		margin-bottom:0;
		margin-top:20px;
	}
	.views-field-title {
		margin-bottom:5px;
		a {
			font-size:1em;
			font-weight:normal;
		}
	}
}

//Social media share buttons
.field-name-service-links-block {
	
}

//author and date information
.node-type-blog-article {
	h1 {
		margin-bottom:5px;
	}
	.field-name-post-date {
		
	}
	.field-name-author {
		margin-top:0;
		.field-label {
			width:auto;
		}
	}
}

//blogs by term subheading
.dto-view-blog-by-term-term-name {
	font-size:2em;
	margin-bottom:25px;
	margin-top:-20px;
}