/**
 * Provides styling for blocks containing comments.  For example the container 
 * containing the comments attached to a node view.
 */

/*#comments {
  margin-top: 50px;
  padding-top: 10px;
}*/

#comments {
	&.comment-wrapper {
		.comment {
			background-image:none;
			padding:0;
			margin-bottom:25px;
			.submitted {
				font-size:1em;
				font-weight:bold;
				color:$dark-grey;
			}
			.field-name-comment-body {
				margin-top:20px;
				margin-bottom:0;
				.field-label {
					display:none;
				}
				.field-items {
					float:none;
				}
			}
			.links {
				list-style-type:none;
				padding-left:0;
				li {
					display:inline;
				}
				.comment-reply {
					a {
						font-style:normal;
					}
				}
			}
		}
	}
}

.filter-guidelines {
	padding-left:0;
}