.dss-criteria-page-list {
	ol {
		font-size:4.3em;
		font-weight:bold;
		padding-left:0;
		list-style-position:inside;
		li {
			border-top:1px solid $light-grey;
			p {
				padding-left:30px;
				font-size:16px;
				display:inline-block;
				vertical-align:top;
				font-weight:normal;
			}
		}
	}
}