.dto-back-to-guides-link-wrapper {
	max-width:1020px;
	padding:20px 20px 0;
	margin-left:auto;
	margin-right:auto;
	a {
		font-size:1.25em;
		text-decoration:none;
		color:$dto-blue;
		&:before {
			content: "\f104";
			font-family:FontAwesome;
			padding-right:6px;
			color:inherit;
		}
	}
}

//DSS subguide contents menu
.node-type-subguide {
	.sidebar {
		#block-views-dss-subguide-parent-block-1 {
			margin-bottom:0;
		}
		.last {
			h2 {
				display:none;
			}
			.view-dss-sibling-subguides {
				a {
					border-left:4px solid #fff;
					padding-left:15px;
					&.active {
					font-weight:bold;
					border-left:4px solid $dto-blue;
					}
				}
				
			}
		}
	}
}
