.dto-back-to-guides-link-wrapper {
	max-width:1020px;
	padding:20px 20px 0;
	margin-left:auto;
	margin-right:auto;
	a {
		font-size:1.25em;
		text-decoration:none;
		color:$dto-blue;
		&:before {
			content: "\f104";
			font-family:FontAwesome;
			padding-right:6px;
			color:inherit;
		}
	}
}

//DSS subguide contents menu on subguides page
.node-type-subguide {
	.sidebar {
		#block-views-dss-subguide-parent-block-1 {
			margin-bottom:0;
		}
		.last {
			h2 {
				display:none;
			}
			.view-dss-sibling-subguides {
				a {
					//border-left:3px solid #fff;
					padding-left:15px;
					text-decoration:none;
					display:block;
					color:$dto-blue;
					&.active {
					font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif!important;
					//border-left:3px solid $dto-blue;
					}
				}	
			}
		}
		.view-dss-subguide-parent {
			a {
				text-decoration:none;
				color:$dto-blue;
				display:block;
			}
		}
	}
}

//DSS subguide contents menu on guides page
.node-type-page {
	.sidebar {
		.block-views {
			&.first {
				margin-bottom:7px;
				a {
					text-decoration: none;
					display:block;
					color:$dto-blue;
					&.active {
						font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif!important;
						//border-left:3px solid $dto-blue;
						//padding-left:5px;
					}
				}
			}
		}
		.view-dss-child-subguides {
			.views-row {
				margin-bottom:5px;
				a {
					color:$dto-blue;
					//border-left:4px solid #fff;
					padding-left:15px;
					text-decoration: none;
					display:block;
				}
			}
		}
	}
}