.footer {
	background-color:$background-grey;
	border-top:12px solid $dto-blue;
	padding-top:10px;
	.region-footer-bottom {
		max-width:1020px;
		margin-left:auto;
		margin-right:auto;
		background-color:$background-grey;
		padding:0 20px;	
		padding-top:8px;
		border-top:none;
		.first {
			float:left;
			margin-top:0;
		}
		.block-menu {
			&.last {
			border-top: 1px solid #ccc;
			padding:30px 0;
			margin-top:18px;
			margin-right:0;
			}
		}
		&::before {
			background-image:none;
		}
		.block {
			margin-left:0px;
			.block__content {
				.menu {
					padding-left:0;
					li {	
						display:inline-block;
						float:none;
						margin-right:8px;
						a {
							color:#666666;
							font-size:16px;
							padding:0;
							
							&:before {
								position:static;
							}
						}
					}
				}
			}
			.social-media-links {
				text-align:right;
				p {
					display:inline-block;
					margin-bottom:8px;
				}
				.twitter, .linkedin, .youtube, .github {
					text-decoration:none;
					font-size:0;
					&:before {
						font-family:FontAwesome;
						color:$dark-grey;
						font-size:22px;	
						padding-right:18px;
					}					
				}
				.twitter {
					&:before {
						content:'\f099';
					}
				}
				.linkedin {
					&:before {
						content:'\f0e1';
					}
				}
				.youtube {
					&:before {
						content:'\f16a';
					}
				}
				.github {
					&:before {
						content:'\f113';
					}
				}
			}
		}
	}
}

@media (max-width: 640px) {
	.footer {
		.region-footer-bottom {
			.first {
				float:none;
			}
			.block {
				.social-media-links {
					text-align:left;
					display:block;
					width:100%;
					float:none;
							
				}
			}
		}
	}
}			