.highcharts-table-hide {
	position:absolute;
	left:-99999px;
}

#bar-chart-data {
	position:absolute;
	left:-99999px;
}

.bar-chart {
	margin-top:3em;
	font-family:"OpenSans",Arial,Helvetica Neue,Helvetica,sans-serif !important;
}