.front-communicate {
	background-color:$background-grey;
	padding-bottom:25px!important;
	h2 {
		margin-bottom:15px;
	}
	.engage, .media-centre {
		width:50%;
		float:left;
		text-align:left;
		img {
			height:64px;
			float:left;
			margin-left:0;
			margin-bottom:50px;
			margin-right:15px;
			margin-top:36px;
		}
		h3 {
			margin-top:0;
			font-size:1.35em;
			margin-bottom:0;
		}
		a {
			font-weight:normal;
			color:$dto-blue;
		}
		.more-link {
			text-align:left;
		}
	}
	.engage {
		padding-right:20px;
	}
	.media-centre {
		padding-left:20px;
	}
}

@media (max-width: 580px) {
	.front-communicate {
		.engage, .media-centre {
			width:100%;
			float:left;
			img {
			}
			h3 {
			}
		}
		.engage {
			padding-right:0;
		}
		.media-centre {
			padding-left:0px;
			//margin-top:25px;
		}
	}
}