.front {
	.panel-flexible {
		.hp_top {
			padding-top:20px;
			padding-bottom:20px;
			background-color:$background-grey;
			color:$ultra-grey;
			.panel-pane {
				max-width:768px;
			}
			h2 {
				color:$ultra-grey;
				margin-bottom:15px;
			}
		}
	}
}