/**
 * Contains general layout styling
 */

// Grid config.
$zen-column-count: 12;
$zen-gutter-width: 20px;

.layout-sidebar-left,
.layout-sidebar-right,
.layout-sidebar-both,
.layout-no-sidebar {
  padding: 20px;
}

.sidebar,
.main-content {
  padding-bottom: 1em;
}


// Left sidebar only.
.layout-sidebar-left {
  
  @include zen-grid-container;
  
  @include breakpoint($narrow) {
    
    .layout-sidebar-left__sidebar {
      @include zen-grid-item(3, 1);
    }
    
    .layout-sidebar-left__main {
      @include zen-grid-item(9, 4);
    }
  }
}

// Right sidebar only.
.layout-sidebar-right {
  
  @include zen-grid-container;
  
  @include breakpoint($narrow) {
    
    .layout-sidebar-right__main {
      @include zen-grid-item(8, 1);
    }
    
    // Right sidebar.
    .layout-sidebar-right__sidebar_two {
      @include zen-grid-item(4, 9);
    }
  }
}


// Both left and right sidebars.
.layout-sidebar-both {
  
  @include zen-grid-container;
  
  @include breakpoint($narrow) {
    
    // Left sidebar.
    .layout-sidebar-both__sidebar {
      @include zen-grid-item(3, 1);
    }
    
    .layout-sidebar-both__main {
      @include zen-grid-item(6, 4);
    }

    // right sidebar.
    .layout-sidebar-both__sidebar_two {
      @include zen-grid-item(3, 10);
    }
  }
}

//ss main page layout adjusts
.layout-centered {
	&.page-wrapper {
		max-width:100%;
		.layout-sidebar-left, .layout-no-sidebar, .layout-sidebar-right{
			max-width:1020px;
			margin-left:auto;
			margin-right:auto;
		}
	}
}

.front {
	.layout-centered.page-wrapper {
		.layout-sidebar-left, .layout-no-sidebar{
			max-width:100%;
		}
		margin-top:-6px;
		max-width:100%;
		outline:none;
		.layout-no-sidebar {
			padding:0;
			.main-content {
				max-width:100%;
				padding-bottom:0;
				.panels-flexible-row-inside {
					max-width:1020px;
					padding-left:20px;
					padding-right:20px;
					margin-left:auto;
					margin-right:auto;
				}
				.panels-flexible-row {
					padding-top:40px;
				}
				.hp_top {
					padding-top:20px;
				}
				.panels-flexible-row-last {
					
				}
			}
		}
	}
}

//padding adjusts
.layout-sidebar-right .layout-sidebar-right__main {
	padding-left:0;
}
.layout-sidebar-right .layout-sidebar-right__sidebar_two {
	padding-right:0;
}
.layout-sidebar-left .layout-sidebar-left__sidebar {
	padding-left:0;
}
