.service-life {
	overflow:hidden;
	ul {
		list-style-type:none;
		padding-left:1.3em;
		li {
			border-left:#333 0.6em dotted;
			padding-left:1.8em;
			margin-top:1.5em;
			display:block;
			margin-top:2.5em;
			&:before {
				//border:0.3em solid;
				content:"";
				display:block;
				//margin:0.5em -3.2em;
				width:1.2em;
			}
			&.discovery, &.alpha, &.beta, &.live {
				padding-bottom:0.3em;
				&:before {
					border: 0.6em solid;
					border-radius:1.2em;
					height:1.2em;
					margin-left:-3.3em;
					position:relative;
					top:-2.1em;
				}
				h3 {
					margin-top:-3.2em;
				}
				.assessment {
					background-color:$background-grey;
					padding:10px 15px;
					border-left:4px solid;
					margin-bottom:1em;
					h4 {
						margin-top:0;
					}
					p {
						margin-bottom:0;
					}
					&:after {
						content:"";
						display:block;
						width:2em;
						border:2px solid;
						margin-left:-3.3em;
						position:relative;
						top:10px;
					}
				}
			}
			&.discovery {
				border-color:$discovery;
				&:before {
				border-color:$discovery;
				
				}
				h3 {
					color:$discovery;
				}
				.assessment {
					border-color:$discovery;
					&:after {
						border-color:$discovery;
					}
				}
			}
			&.alpha {
				border-color:#c52a72;
				&:before {
				border-color:#c52a72;
				}
				h3 {
					color:#c52a72;
				}
				.assessment {
					border-color:#c52a72;
					&:after {
						border-color:#c52a72;
					}
				}
			}
			&.beta {
				border-color:#ef6a30;
				&:before {
					border-color:#ef6a30;
				}
				h3 {
					color:#ef6a30;
				}
				.assessment {
					border-color:#ef6a30;
					&:after {
						border-color:#ef6a30;
					}
				}
			}
			&.live {
				border-color:$live;
				&:before {
					border-color:$live;
				}
				h3 {
					color:$live;
				}
				.assessment {
					border-color:$live;
					&:after {
						border-color:$live;
					}
				}
			}
		}
	}
}