//Left sidebar block styling 
#block-menu-block-govcms-menu-block-sidebar, #block-menu-block-1 {
	.block__title {
		border-bottom:2px solid $dto-grey;
		border-top:none;
		margin-bottom:5px;
		padding-bottom:7px;
	}
	.menu {
		list-style:outside none none;
		padding:0;
		border:none;
		li {
			background-color:#fff;
			margin-bottom:0;
			padding-top:0;
			border-bottom:1px solid #e2e2e2;
			&.first {
				padding-top:0;
			}
			&.last {
				padding-bottom:0;
				border-bottom:1px solid #e2e2e2;
			}
			&.is-active {
				a {
					&.active {
						font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif;
					}
				}
			}
			a {
				font-size:15px;
				padding:8px 5px 8px 0px;
				text-decoration:none;
				display:block;
				color:#444;
				&:hover {
					color:$dto-blue;
					text-decoration:underline;
				}
			}
			.menu {
				li {
					margin-bottom:0;
					border-bottom:none;
					a {
						padding-left:20px;
						border-left:4px solid #fff;
						&:hover {
							color:$dto-blue;
						}
					}
				}
			}
		}
	}
}

//General right sidebar block styling 
.sidebar { 
	.block {   
  		margin-bottom:30px;
  		.block__title {
	    	font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif;
			color:$dark-grey;
			font-size:19px;
			border-top:0px solid $dto-grey;
			line-height:1.5;      
			margin: 0 0 11px;
			background-color: #fff;
			padding: 0;
			padding-top:8px;
    	}
	    .block__content {
	    	background-color: white;
			padding: 0;
			.views-field-title {
		  		a {
				color:$dto-blue;
			    text-decoration:none;
		    	}
			}
	    }
  	}
}