.front {
	.footer {
		//display:none;
	}
}

.header {
	padding-top:10px;
	padding-bottom:22px;
	.nav-head-container {
		.header__logo {
			.header__logo-image {
				max-height:55px;
			}
		}
		.region-header {
			//overflow: hidden;
			//menu items
			margin-top:10px;
			padding-top:20px;
			float:none;
			.block-menu-block {
				float:right;
				z-index:99;
				.menu {
					list-style-type:none;
					li {
						display:inline;
						padding-left:15px;
						a {
							text-decoration:none;
							color:$ultra-grey;
							padding-bottom:5px;
							&:focus {
								color:$dto-blue!important;
								background-color:#fff;
								border-bottom:2px solid $dto-blue;
							}
							&.active, &.active-trail {
								color:$dto-blue!important;
							}
						}
						&:hover  {
							a {
								color:$dto-blue;
								border-bottom:2px solid $dto-blue;
							}
						}
					}
				}
			}
			.block {
				float:right;
				background-color:#fff;
				.block__content {
						p {
							margin-bottom:0;
						}
						.sb-icon-search {
							
							padding-left:15px;
							background:url("../images/update/search-icon.png");
							background-repeat:no-repeat;
							background-position:50% 50%;
							color:#fff;
							width:45px;
							min-height:25px;
							display:inline-block;
							overflow:hidden;
							text-indent: 500px;
							&:focus {
								border:1px dotted #333!important;
							}
						}
				}
				&.even {
					float:right;
				}	
			}
			//search 
			.block-search-api-page {
				margin-top:-35px;
				z-index:-1;
				float:right;
				display:block;
				position:relative;
				top:34px;
				right:0;
				width:5%;
				-webkit-backface-visibility: hidden;
				.search-form-widget {
					
					.form-type-textfield {
						input {
							-webkit-appearance:none;
							-moz-appearance:none;
							box-shadow: none;
							border-radius:none;
							border-color:#fff;
							&:focus {
								border-color:#fff;
								outline-color: #fff;
							}
						}
					}
										
				}
				.form-submit {
					background:url("../images/update/search-icon.png");
				}
					
			}
		}
	}
}

//mobile-menu

@media (max-width: 860px) {
	//burger styling
	.mobile-nav {
		display:block;
		position:absolute;
		right:0;
		top:10px;
		transition:500ms;
		-webkit-transition:500ms;
		padding:32px 15px 0 3%;
		background-color:#fff;
		font-size:12px;
		z-index:10001;
		top:15px;
		color:$ultra-grey;
		float:right;
		text-decoration:none;
		font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif!important;
		&:focus {
			color:$ultra-grey!important;
			border:1px dotted $dark-grey;
			background-color: #fff;
		}
		.top, .middle, .bottom {
			background-color:#666;
			transition:500ms;
		}
		.top {
			height:4px;
			right:15px;
			position:absolute;
			top:10px;
			width:35px;
		}
		.middle {
			height:4px;
			right:15px;
			position:absolute;
			top:19px;
			width:35px;
		}
		.bottom {
			height:4px;
			right:15px;
			position:absolute;
			top:28px;
			width:35px;
		}
	}
	.header {
		.nav-head-container {
			.region-header {
				background-color:#fff!important;
				transition:500ms;
				-webkit-transition:500ms;
				top:0;
				left:100%;
				right:-100%;
				overflow-x:hidden;
				overflow-y: auto;
				position:fixed;
				height:100%;
				border-left:1px solid #ccc;
				width:100%;
				z-index:10000;
				padding:10px;
				background-color:#fff;
				margin-top:87px;
				.block {
					.block__content {
						.sb-icon-search {
							display:none;
						}
					}
				}
				.block-search-api-page {
					float:left;
					width:auto;
					min-width:75%;
					border-bottom:1px solid $ultra-grey;
					margin-top:0;
					margin-left:25px;
					.search-form-widget {
						.form-type-textfield {
							input {
								padding-left:37px;
								padding-right:5px;
								font-size:1.5em;
								margin-bottom:10px;
								box-shadow: none;
								border:none;
							}
						}
					}
					.form-submit {
						left:1px;
					}
				}	
			}
		}
	}
	//.show {
	.show {
		.header {
			.nav-head-container {
				.region-header {
					left:0;
					right:0;
				}
			}
		}
	}
		.header {
			.nav-head-container {
				.region-header {
					background-color:#fff!important;
					transition:500ms;
					-webkit-transition:500ms;
					top:0;
					
					height:100%;
					border-left:1px solid #ccc;
					width:100%;
					z-index:10000;
					padding:10px;
					background-color:#fff;
					margin-top:87px;
					.block-menu-block {
						float:left;
						margin-top:55px;
						.menu {
							li {
								display:block;
								padding-left:0;
								padding-bottom:25px;
								a {
									font-size:2em;
									&:focus {
									}
									&.active {
									}
								}
								&:hover  {
									a {
									}
								}
							}
						}
					}
				}
			}
		}
	
	
	//controls menu opening	
	.show {
		overflow:hidden;
		&.front {
			.region-recruitment {
				z-index:-1;
			}
		}
		.mobile-nav {
			right:0;
			color:$ultra-grey;
			.top {
				transform:rotate(-45deg);
				-webkit-transform:rotate(-45deg);
				top:18px;
			}
			.middle {
				opacity:0;
			}
			.bottom {
				transform:rotate(45deg);
				-webkit-transform:rotate(45deg);
				top:18px;
			}
		}
		.menu-open {
			width:100%;
			height:100%;
			z-index:1000;
			position:absolute;
			opacity:0.8;
		}
		.region-navigation {
			right:0%;
		}
		
	}
}

.search-open {
	.header {
		.nav-head-container {
			.region-header {
				
				//menu items
				.block {
					//float:left;
					.sb-icon-search {
						background:url("../images/update/close-icon.png");
						background-repeat:no-repeat;
						background-position:50% 50%;
					}
				}
				//search 
				.block-search-api-page {
					z-index:99;
					//float:right;
					display:block;
					position:relative;
					//top:30px;
					width:60%;
					right:40px;
					padding-left:30px;
					transition: all 500ms ;
					input {
						outline:2px solid #fff;
						border:0;
						&:focus {
							outline:1px solid $dto-blue!important;
							//border-bottom:2px solid $dto-blue;	
						}
					}
					.search-form-widget {
						
						.form-type-textfield {
							
						}
						
					}
				}
			}
		}
	}
}

@media (max-width: 580px) {
	.header {
		.nav-head-container {
			.header__logo {
				.header__logo-image {
					max-height:50px;
				}
			}
			.region-header {
				.block-menu-block {
					.menu {
						li {
							a {
								font-size:1.4em;
							}
						}
					}
				}
			}
		}
	}
}

//makes blog menu item active on blog pages
.node-type-blog-article {
	.region-header {
		.block-menu-block {
			.menu {
				.menu-mlid-2391 {
					a {
						color:$dto-blue!important;
					}
				}
			}
		}
	}
}