.region-navigation {
	background-color:$dto-blue;
	z-index:101;
	.global-notification {
		max-width:1020px;
		padding:15px 20px;
		margin-left:auto;
		margin-right:auto;
		p {
			margin-bottom:0;
			color:#fff;
			a {
				color:#fff;
			}
		}
	}
}

.front {
	.region-navigation {
		z-index:101!important;
		&.region {
		position:absolute;
		}
	}
}

.page-wrapper {
	.region-highlighted {
		background-color:$background-grey;
		margin-left:auto;
		margin-right:auto;
		max-width:980px;
		padding:10px 13px;
		overflow:hidden;
		p {
			float:left;
			margin-bottom:6px;
		}
		img {
			margin-right:8px;
		}
	}
}
