html, body {
	height:100%;
}
	.front {
		.header {
			z-index:99;
		}
		.region-navigation {
			z-index:1001;
			//position: relative;
		}
		.layout-centered {
			height:100%;
			.region-highlighted {
				max-width:100%;
				height:100%;
				position:relative;
				top:-170px;
				padding-top:170px;
				background-color:$dto-blue;
				z-index:98;
				margin-bottom:-170px;
				.block {
					height:100%;
					.block__content {
						height:100%;
						.fullscreen-homescreen {
							max-width:1020px;
							padding-left:20px;
							padding-right:20px;
							margin-left:auto;
							margin-right:auto;
							position:relative;
							top:30%;	
							h1 {
								color:#fff;
								font-size:6em;
								line-height:6.5rem;
							}
							a {
								color:#fff;
								text-decoration:none;
								text-transform: uppercase;
								font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif!important;
								font-size:0.9em;
								margin-right:25px;
								img {
									display:block;
								}
							}
						}
					}
				}
			}
			/*.layout-no-sidebar {
				height:100%;
				.main-content {
					height:100%;
					.panels-flexible-1 {
						height:100%;
						.panels-flexible-1-inside {
							height:100%;
							.fullscreen-splash {
								height:100%;
								position:relative;
								top:-170px;
								padding-top:170px;
								background-color:$dto-blue;
								z-index:98;
								margin-bottom:-170px;
								.inside {
									height:100%;
									.panels-flexible-region {
										height:100%;
										.inside {
											height:100%;
											.panel-pane {
												height:100%;
											}
										}
									}
								}
								.fullscreen-homescreen {
									position:relative;
									top:30%;	
									h1 {
										color:#fff;
										font-size:6em;
										line-height:6.5rem;
									}
								}
							}
						}
					}
				}
			}*/	
		}
	}
	
@media (min-width: 767px) {
	.front {
		.region-navigation {
			position:relative;
		}
	}
}

//header line break
@media (min-width: 767px) {
	.front {
		.fullscreen-homescreen {
			h1 {
				span {
					display:block;
					font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif!important;
				}
			}
		}
	}
}

//quote 
.front {
	.panel-flexible {
		display:none; //get rid of dumb front page for now
		.hp_top {
			.panel-pane {
				max-width:100%!important;
				
			}
		}
	}	
}

.front {
	.recruitment-quote {
		background-color:$background-grey;
		position:relative;
		top:-61px;
		padding-top:60px;
		margin-bottom:-60px;
		p {
			text-align:left;
			max-width:1020px;
			padding:80px 20px;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:0;
			font-size:1.3em;
			span {
				display:block;
				font-size:30px;
				line-height:35px;
				font-family:'OpenSansLight',Arial,Helvetica Neue,Helvetica,sans-serif!important;
				margin-bottom:15px;
				max-width:900px;
			}
		}
	}
}

.front {
	&.recruit-sticky {
		.recruitment-quote {
			//top:0;
		}
	}
}

.front {
	.footer {
		margin-top:1500px;
	}
}

//recruitment menu
.front {
	.region-recruitment {
		box-shadow: -3px -3px 3px 0 rgba(0, 0, 0, 0.19), 3px 0 3px 0 rgba(0, 0, 0, 0.19), 0 3px 3px 0 rgba(0, 0, 0, 0.23);//stolen from wired
		background-color:#fff;
		//position:relative;
		position:absolute;
		bottom:0;
		width:100%;
		//top:-63px;
		z-index:9999;
		.recruitment-menu {
			max-width:1020px;
			padding:10px 20px 5px;
			//padding-right:20px;
			margin-left:auto;
			margin-right:auto;
			h3 {
				color:$dto-blue;
				display:inline-block;
			}
			.recruit-menu {
				display:inline-block;
				float:right;
				padding-top:10px;
				margin-bottom:0;
				li {
					margin-left:10px;
					display:inline-block;
					a {
						color:$ultra-grey;
						text-decoration:none;
						&.sign-up {
							border:1px solid $dto-blue;
							border-radius:5px;
							color:$dto-blue;
							padding:5px 13px;
						}
					}
				}
			}
		}
	}
}

//recruitment menu scrolled
@media (min-width: 767px) {
	.front {
		&.recruit-sticky {
			.region-recruitment {
				position:fixed;
				top:0;
				width:100%;
				bottom:inherit;
			}
			.recruitment-quote {
				//top:2px;
			}
		}
	}
}

//values
.front {
	.recruitment-values {
		background-color:#fff;
		.container {
			max-width:1020px;
			padding:40px 20px;
			margin-left:auto;
			margin-right:auto;
			padding-top:80px;
			overflow:hidden;
			.left-container {
				width:70%;
				float:left;
				padding-right:20px;
				padding-top:18px;
			}
			.values-icons {
				width:30%;
				float:left;
				//padding-top:25px;
				.value {
					padding-bottom:10px;
					//float:left;
					//width:20%;
					h3 {
						font-size:1.3em;
						color:$dark-grey;
						line-height:1.6em;
						//text-transform: uppercase;
					}
					img {
						float:left;
						margin-right:15px;
					}
				}
			}
		}
	}
}

//roles
.front {
	.recruitment-roles {
		.container {
			max-width:1020px;
			margin-left:auto;
			margin-right:auto;
			padding:40px 20px;
			h2 {	
			}
			p {	
			}
			ul {
				overflow:hidden;
				padding-left:0;
				li {
					list-style-type: none;
					width:30%;
					float:left;
					color:$dto-blue;
					padding-bottom:10px;
				}
			}
		}
	}
}

//video overlay
.front {
	.mfp-bg {
		display:none;
	}
	.mfp-wrap {
		top:0!important;
		z-index:1000;
		.mfp-container {
			padding-bottom:63px;
			padding-top:166px;
			padding-left:0;
			padding-right:0;
			.mfp-content {
				max-width:100%;
				height:100%;
				.mfp-iframe-scaler {
					//background-color:$dto-blue;
					box-shadow:none;
					.mfp-close {
						opacity:1;
						top:0;
						width:55px;
						height:45px;
						background-color:$dto-blue;
						padding-right:20px;
						&::before {
							content:none;
						}
					}
					.mfp-iframe {
						//background-color:$dto-blue;
						box-shadow:none;
						//padding-top:50px;
						.html5-video-player {
							background-color:$dto-blue;
						}
					}
				}
			}
		}
	}
}