@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/font-awesome/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-awesome/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/font-awesome/fontawesome-webfont#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/opensans-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Open_Sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Open_Sans/opensans-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Open_Sans/opensans-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Open_Sans/opensans-regular-webfont#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
	   font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/Open_Sans/opensans-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Open_Sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Open_Sans/opensans-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Open_Sans/opensans-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Open_Sans/opensans-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Open_Sans/opensans-bold-webfont#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
	   font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/Open_Sans/opensans-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Open_Sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Open_Sans/opensans-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Open_Sans/opensans-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Open_Sans/opensans-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Open_Sans/opensans-light-webfont#svgFontName') format('svg'); /* Legacy iOS */
}


*, html, body {
	font-family:'OpenSans',Arial,Helvetica Neue,Helvetica,sans-serif;
	font-weight:normal;
}

h1, h2, h3, h4, h5 {
	color:$ultra-grey;
	font-weight: normal;
}

h1 {
	font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif;
	margin-bottom:1.175em;
	margin-top:0;
	line-height:1.34167;
	font-size:44px;
}

h2 {
	font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif;
	margin-bottom:15px;
	line-height:1.31111;
	font-size:34px;
	margin-top:1.25em;
	margin-bottom:0.555556em;
}

h3 {
	font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif;
	margin-bottom:0.833333em;
	font-size:23px;
	line-height:1.45;
	margin-top:1.875em;
}

h4 {
	font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif;
	margin-bottom:0.3125em;
	margin-top:1.05263em;
	font-size:17px;
	line-height:1.5;
}

h5 {
	font-family:'OpenSans',Arial,Helvetica Neue,Helvetica,sans-serif;
	margin-bottom:0.3125em;
	margin-top:1.05263em;
	font-size:17px;
	line-height:1.5;
	font-style:italic;
}

p {
	margin-bottom:1.05263em;
	margin-top:0.263158em;
	font-size:17px;
	line-height:1.5;
}

body {
	font-size:17px;
	line-height:1.5;
}

ul, ol {
	margin-bottom:20px;
	font-size:17px;
	line-height:1.5;
	padding-left:20px;
	margin-top:5px;
	li {
		margin-bottom:5px;
	}
	ul {
		padding:10px 0 3px 40px;
		list-style-type:disc;
	}
}

p.lead-in {
	margin-bottom:8px;
}

.field-name-field-summary, .lede {
	font-size:24px;
	color:$ultra-grey;
	margin-bottom:16px;
}

strong {
	font-family:'OpenSansBold',Arial,Helvetica Neue,Helvetica,sans-serif;
}

a {
	color:$dto-blue;
	word-wrap:break-word;
	&:focus {
		color:#fff!important;
		background-color:#000;
	}
}

@media (max-width: 640px) {
	h1 {
		margin-bottom:25px;
		line-height:1.09375;
		font-size:30px;
	}
	
	h2 {
		margin-bottom:15px;
		line-height:1.04167;
		font-size:22px;
		margin-top:25px;
	}
	
	h3 {
		margin-bottom:15px;
		font-size:18px;
		line-height:1.2;
		margin-top:25px;
	}
	
	h4 {
		margin-bottom:15px;
		margin-top:25px;
		font-size:16px;
		line-height:1.25;
	}
	
	h5 {
		margin-bottom:15px;
		margin-top:25px;
		font-size:16px;
		line-height:1.25;
	}
	
	p {
		margin-bottom:20px;
		font-size:15px;
		line-height:1.38;
	}
	
	body {
		font-size:15px;
		line-height:1.38;
	}
	
	.field-name-field-summary, .lede {
	font-size:19px;
	color:$ultra-grey;
	margin-bottom:16px;
	}
	
	ul, ol {
		margin-bottom:20px;
		font-size:15px;
		line-height:1.38;
		padding-left:17px;
		margin-top:5px;
		li {
			margin-bottom:5px;
		}
	}	
}