@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/font-awesome/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-awesome/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/font-awesome/fontawesome-webfont#svgFontName') format('svg'); /* Legacy iOS */
}

h1, h2, .listing__title, .node-teaser h2, .search-results h3.title, .mission__statement, h3, h4, h5, h6, a {
	font-family:Arial,Helvetica Neue,Helvetica,sans-serif!important;
}

*, html, body {
	font-family:Arial,Helvetica Neue,Helvetica,sans-serif!important;
}

