/**
 * Variables 
 */

// Colors
$white: white;
$black: black;
$grey-line: #bfc1c3;
$title-link-blue: #2384bb;
$dark-grey: #676767;
$light-grey: #d6d7d6;
$ultra-grey: #333;
$dto-blue: #1e84bb;
$dto-purple: #1d1f42;
$dto-error: #af1324;
$warning-background: #fcf8e3;
$background-grey: #f4f4f4;

// Breakpoints.
$narrow: 640px;
$wide: 720px;


