@import "vars";

.lt-ie9 {
	//HEADER AND NAV STUFF
	.tinynav {
		display:none;
	}
	.text-resize {
		display:inline-block;
	}
	.header__region-item, .header .block-search-api-page, .header .block-govcms-text-resize {
		display:inline-block;
		margin-right:10px;
	}
	.header .nav-head-container .header__logo img {
		height:68px;
	}
	.header .nav-head-container .header__logo {
		width:60%;
		float:left;
	}
	.mobile-nav {
		display:none;
	}
	.header__region {
		float:right;
		margin-top:15px
	}
	.search--header, .block-search-api-page {
		width:200px;
		float:right;
	}
	.region-navigation .block__content > .menu {
		display:block;
	}
	body{
		.region-navigation {
			padding-top:0;
			padding-bottom:0;
			.block-superfish {
				.block__content {
					ul {
						li{
							ul {
								li {
									ul {
										left:100%!important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	//HOMEPAGE STUFF
	/*
 * Blog list layout.
 */
	.view-blog {
	  overflow: hidden;
	  > .view-header {
	    margin-bottom: 40px;
	      float: right;
	      width: 30%;
	      padding-left:10px;
	    }
	  > .view-content {
	      float: left;
	      width: 70%;
	      padding-right:10px;
	  }
	  > .more-link {
	    clear: both;
	    text-align: center;
	  }
	}
	//Layouts
	.layout-sidebar-right .layout-sidebar-right__main {
		margin-right:-66.6667%;
		width:66.6667%;
		float:left;
		padding-right:10px;
	}
	.layout-sidebar-right .layout-sidebar-right__sidebar_two {
		margin-left:66.6667%;
		width:33.3333%;
		display:block;
		float:left;
		padding-left:10px;
	}
	.layout-sidebar-left .layout-sidebar-left__sidebar {
		float:left;
		margin-right:-25%;
		width:25%;
		padding-right:10px;
	}
	.layout-sidebar-left .layout-sidebar-left__main {
		width:75%;
		float:left;
		margin-left:25%;
		padding-left:10px;
	}
	//FOOTER FIXES
	.region-footer-bottom:before {
		background-image:none;
	}
	.region-footer-bottom {
		.block-menu .menu > li > a{
			padding:10px;
		}
		.block-menu .menu .first > a {
			padding-left:0;
		}
	}
	.footer {
		.connect-with-dto {
			.twitter-icon {
				background-image:url('../images/update/twitter-logo-small.png');
			}
			.youtube-icon {
				background-image:url('../images/update/youtube-logo-small.png');
			}
			.linkedin-icon {
				background-image:url('../images/update/linkedin-small.png');
			}
			.github-icon {
				background-image:url('../images/update/github-logo-small.png');
			}
		}
	}
	.region-navigation .block__content > .menu > li.active-trail > a:before {
		border-top:none!important;
	}
	.region-navigation .block__content > .menu > li:hover > a:before {
		border-top:none!important;
	}
	.region-navigation .block__content > .menu > li:focus > a:before {
		border-top:none!important;
	}
	.ie-warning {
		background-color:$warning-background;
		width:100%;
		height:auto;
		display:block;
		padding:10px;
		.warning-text {
			width:980px;
			margin-left:auto;
			margin-right:auto;
			diaply:block;
		}
	}
}
.ie-warning {
	display:none;
}
