@font-face {
  font-family: 'monsterrat-bold';
  src: url('../fonts/monsterrat/montserrat-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/monsterrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/monsterrat/montserrat-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/monsterrat/montserrat-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/monsterrat/montserrat-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/monsterrat/montserrat-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'monsterrat-regular';
  src: url('../fonts/monsterrat/montserrat-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/monsterrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/monsterrat/montserrat-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/monsterrat/montserrat-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/monsterrat/montserrat-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/monsterrat/montserrat-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'monsterrat-light';
  src: url('../fonts/monsterrat/montserrat-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/monsterrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/monsterrat/montserrat-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/monsterrat/montserrat-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/monsterrat/montserrat-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/monsterrat/montserrat-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/font-awesome/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-awesome/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/font-awesome/fontawesome-webfont#svgFontName') format('svg'); /* Legacy iOS */
}